
<div class="big-container">
<div class="container">
  <div class="header">
    <div class="bell"></div>
    <span class="text">אל תפספסו אף מודעה!</span>
  </div>
  <span class="main-text">חפשו לפי אזור, כמות חדרים או מחיר, וקבלו התראות על מודעות חדשות</span>
  <app-btn id="btn4" containerClass="alertBtn" text="עדכנו אותי"></app-btn>
</div>

  <div>
    <div class="feed_header spaced_header" >
      <h1 class="title-2">  נדל״ן  למכירה</h1>
  <div class="ads_count" ><span id="ads_count" >{{'מציג'+ ' '+(this.allAds.length | number:'1.0-0')+' מודעות'}}</span></div>
    </div>
    </div>
</div>
