:host{
  height: calc(fit-content + 10vh);
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.loading-bar{
  position: relative;
}
.loader{
  position: absolute;
  right: 0;
background: #f14913;
height: 100%;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
top: 0;
background-image: linear-gradient(135deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
animation:  animate-stripes 3s linear infinite;
background-size: 30px 30px;
}
.orangeLoader{
  background: #f19e13;
  background-image: linear-gradient(135deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
animation:  animate-stripes 3s linear infinite;
background-size: 30px 30px;
}
.yellowLoader{
  background: #fbaf00;
  background-image: linear-gradient(135deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
animation:  animate-stripes 3s linear infinite;
background-size: 30px 30px;
}
.greenLoader{
  background: #ccd948;
  background-image: linear-gradient(135deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
animation:  animate-stripes 3s linear infinite;
background-size: 30px 30px;
}
.strongGreenLoader{
  background: #43c770;
  background-image: linear-gradient(135deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
animation:  animate-stripes 3s linear infinite;
background-size: 30px 30px;
}
.text-loader{
  position: absolute;
  width: max-content;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.left-border{
  border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
}
.none{
  display: none;
}
@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}
