.boxesWrap{
  width: 100%;
}
.container-big{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.title {
  margin-bottom: 15px;
  font-size: 24px;
  color: #000000;
  font-size: 400;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.boxesWrap{
  max-width: 880px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow:0 2px 4px 0 rgba(12,0,51,.1) ;
  padding:30px 25px 23px 25px ;
  display: flex;flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  width: 100%;

}
.checkboxs{
  display: flex;
}
.container-btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.btnBack,.btnNext{
  cursor:pointer ;
}
.red{
  font-size: 13px;
  color: red;
}
