.container{
  position: fixed;
  top: 0;
  height: 104vh;
  width: 100vw;
  background-color:rgba(11, 11, 11, 0.215);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
overflow: scroll;
overflow: visible; /* Ensures the image overflows the container */

}
.content{
  background: #fff;
  height: 100vh;
  width: calc(100% - 120px);
  /* border: 1px solid black; */
  max-width: 960px;
  overflow: scroll;
  padding-bottom: 157px;
  position: relative;
}
::-webkit-scrollbar {
  width: 1px;
}
.top{
  height: 20px;
  color: #999;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.26rem;
  display: flex;
  justify-content: space-between;
  padding: 9px;
  flex-direction: row-reverse;
}
.pic{
  width: 100%;
  height: 278px;
  margin-top: 15px;
  background-size: 100% auto;
  object-fit:cover;

}
ul{
  margin-inline-start: 0;
}
.ngx-pagination-container{
  display: flex;
  justify-content: center;
}
.ad-info{
padding: 15px;
}
.street{
  font-size:1.125rem;
  font-weight: 400;
  line-height: 1.7rem;
  text-align: end;
  padding-right: 15px;
  color: #363636;
}

.city{
font-size: 1rem;
overflow:hidden;
text-overflow: ellipsis;
white-space:nowrap;
line-height:1.7rem;
text-align: end;
padding-right: 15px;
color: #363636;
}
.value{
  color: #363636;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.0625rem;
  width: fit-content;
}

.label{
  color: #363636;
  font-size: .875rem;
  line-height: 1.0625rem;
  width: fit-content;
}
.cell{
  width: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.table{
  display: flex;
  justify-content: space-around;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
  border-top:none;
  border-bottom: none;
  border-radius: 4px;
  margin:17px 0 0;
  padding:10px 0;
}
.price{
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #363636;
  text-align: end;
  margin-top: 8px;
}
.title-des{
overflow: hidden;
color: #363636;
text-align: end;
margin-right: 15px;
font-size: 18px;
font-weight: 500;
}
.des{
  overflow: hidden;
  color: #363636;
  text-align: end;
 font-size: 16px;
 line-height:1.5rem;
 max-height: 4.5em;
}
.max-des{
  max-height: 300em;

}
.show-more,.show-less{
white-space: nowrap;
font-size: .875rem;
color: #ff7100;
text-decoration: underline #ff7100;
cursor: pointer;
text-align: end;
}
.show-less{

}
.item{
  width: 50%;
  text-align:end;
  color: #999999;
  font-size: 14px;
  padding-right: 15px;

}
.cell2{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0;
  border-bottom: 1px solid #eee ;
}
.checked{

    background-image: url('../../../../../assets/check2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 19px;
    width: 19px;

}
.unChecked{
background-image: url('../../../../../assets/checkX2.png');
background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 19px;
  width: 19px;
}
.info_feature{
  display: flex;
  gap: 5px;
  width: 50%;
 margin-top: 15px;
 justify-content: flex-start;
 flex-direction: row-reverse;
}
.info-feature-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
#ad-footer{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%)
}
.gray{
  color: #99999982;
}

.ngx-pagination-container ::ng-deep .ngx-pagination .current {
  background: #fff1e5;
  color: #ff7100;

}
.current-page{
color: #fff;
position: relative;
bottom: 70px;
right: 15px;
text-align: end;
font-size: 14px;
line-height: 1.0625rem;
}
.wrapper_container{
  margin-top: 24px;
  padding: 20px 15px;
  max-width: 480px;
}
.big-wrapper-container{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.top-wrapper-container{
  /* border: 1px solid #eee; */
}
@media (min-width: 880px){
  .top-wrapper-container{
    max-width: 330px;
    min-width: 255px;
    width: 37%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 34px;
  }
.wrapper_container{
 border: 1px solid #eee;
 border-radius: 6px;
}
.pics-container{
    display: flex;
  justify-content: flex-end;
}
.pic{
  width: 60%;

}
.ngx-pagination-container{
  justify-content: end;
  padding-right: 50px;
}
.street{
font-size: 24px;
font-weight: 500;
margin: 0;

}
.city{
  font-size: 18px;
}
.table{
  margin: 40px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  box-shadow: none;
  justify-content: space-evenly;
}
.label{
  color: rgba(0,0,0,.5);
}
.price{
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 400;
}
}

