<svg (click)="toggleSideBar()" *ngIf="RequiredActionsObj.isXSignNeeded" class="xSvg" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" ><path d="M16.3 8.05a.458.458 0 01.65.65l-3.802 3.8 3.801 3.8a.458.458 0 01.059.577l-.059.072a.458.458 0 01-.648 0L12.5 13.148l-3.8 3.801a.458.458 0 01-.577.059l-.072-.059a.458.458 0 010-.648l3.8-3.801-3.8-3.8a.458.458 0 01-.059-.577l.059-.072a.458.458 0 01.648 0l3.8 3.8z" fill="currentColor" fill-rule="nonzero"></path></svg>
<app-user-circle [isPopUpNeeded]="isPopUpNeeded"></app-user-circle>
<div class="text-contianer">
  <div [style.color]="textColor" class="userName">{{"user name"}}</div>
  <div *ngIf="RequiredActionsObj.isPersonalAreaNeeded" class="personalArea">{{"אזור אישי"}}</div>
</div>
<div *ngIf="RequiredActionsObj.isDisconnectNeeded" class="logout">{{"התנתקות"}}</div>

<app-btn [containerClass]="'green-btn'" [iconClass]="'publish-ad-plus'" [text]="'פרסום מודעה'"></app-btn>
