<div class="favorite_page" >
  <div  class="header_wrapper">
    <div  class="title_wrapper">
      <h1  class="page_title">מודעות שאהבתי</h1>
      <div   class="wrapper breadcrumbs">


        <app-btn id="disabled-btn" [containerClass]="'disabled-btn'" [iconClass]="'men'" [text]="'נגישות'"></app-btn>

    </div>
  </div>

        <img  id="" src="//assets.yad2.co.il/yad2site/y2assets/images/pages/favorites/favorites_no_items.svg"   />

      <h3  class="title">הרשימה שלך ריקה כרגע</h3>
      <p  class="no_items_content">
        אפשר להוסיף מודעות לרשימה בלחיצה על הסימן בפינה הימנית של כל מודעה
      </p>
        <img
          src="//assets.yad2.co.il/yad2site/y2assets/images/pages/favorites/ad_favorites_no_items.svg"

        />

</div>
</div>
