<main>
  <div>
    <div class="header">
        <img [routerLink]="['/realestate']" class="half-rec" src="https://assets.yad2.co.il/chat/images/icons/back-chat-black-icon.svg" width="30" height="30"  loading="lazy">
        <p class="title">צ׳אט</p>
      <div class="empty-div"></div>
    </div>
    <div>
      <div class="main-container">
        <img src="https://assets.yad2.co.il/chat/images/zero-state-web-new.svg" width="126" height="126" decoding="async" data-nimg="1" loading="lazy">
        <div>
          <p>היי, הכרת את הצ׳אט שלך?</p>
          <p>רוצה לשאול אם רלוונטי? לבקש עוד תמונות? נשאר רק לשלוח הודעה לבעלי המודעות</p>
        </div>
      </div>
    </div>
  </div>
</main>
