<div  class="header">
  <div *ngIf="isTopLineNeeded" class="orange-line"></div>
  <div (click)="this.navigate('')" class="logo {{logoClass}}" ></div>
<div class="{{textClass}}">{{text}}</div>

  <div *ngFor="let icon of icons" class="icon-container">
    <div (click)="icon.id=='navBarIcon'||icon.id=='navBarIconForPersonal'?toggleSideBar():navigate(icon.url)" id="{{icon.type}}" class="{{icon.class}}">

      <app-mini-alert [number]="getNumOfAlerts(icon.type)"></app-mini-alert>
      <svg    [attr.width]="icon.size" [attr.height]="icon.size" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" [ngClass]="{'black':true}"  >
      <path  fill-rule="evenodd" clip-rule="evenodd" [attr.d]="icon.path" [attr.fill]="icon.fill"></path>
    </svg>
    </div>


      <div class="bell-container" (mouseenter)="showDiv()" (mouseleave)="hideDiv()" *ngIf="icon.type=='bell'&&isUserLogged">
       <div class="bell-title">התראות שלי</div>
       <div class="bell-sub-title">  הרשימה שלך ריקה כרגע, כאן תוכל לראות את ההתראות שהגדרת</div>
      </div>
      <div  class="love-container" *ngIf="icon.type=='love'">
        <div *ngIf="isUserLogged&&allAds!.length>0" (mouseenter)="showDiv()" (mouseleave)="hideDiv()" class="ads-container" >
          <div *ngFor="let ad of allAds">
            <app-new-ad [fatherComponent]="'likedAds'"  [classContainer]="'custom-container-header'" [isToggleAdNeeded]='false' [fatherComponent]="'likedAds'" [isTopAds]="true" [ad]="ad"></app-new-ad>

          </div>

        </div>
     <div *ngIf="allAds?.length==0"  [ngClass]="{'custom-love-container':!isUserLogged,'love-container-1':isUserLogged}" (mouseenter)="showDiv()" (mouseleave)="hideDiv()">
      <div class="love-title">מודעות שאהבתי</div>
      <div class="love-sub-title">אין לך עדיין מודעות שאהבת. כדי לשמור מודעות שאהבת, ולשמור נוספות, יש להתחבר לחשבון שלך </div>

     </div>

      </div>

  </div>


  <app-btn  [containerClass]="'green-btn-2'" [iconClass]="'publish-ad-plus'" [text]="'פרסום מודעה'"  [routerLink]="isUserLogged ? '/publish/stage-1' : '/signIn'" ></app-btn>

<app-top-bar-nav *ngIf="isTopBarNeeded" class="none"></app-top-bar-nav>
</div>
<app-modal-saved-ad *ngIf="isModalOpen"></app-modal-saved-ad>






