*{
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;

}
.logo{
  background: url('../../../../assets/logo-orange.svg');
  height: 24px;
  width: 50px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  border-style:none;
}
.rightSideLogo{
  position: absolute;
  right: 10px;
}
.leftSideHeart{
  position: absolute;
  left: 10px;
}
.leftSideMessage{
  position: absolute;
  left: 30px;
}
.header{
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  0px 3px 10px 0px rgba(0,0,0,0.10);
 z-index: 1;
 position: relative;
}
.svg {
  width: 24px;
  height: 24px;
  margin-left: 1rem;
}
svg{
  display: flex;
  justify-content: center;
  align-items: center;
}
#navBarIconForPersonal{

}
.bell-container{
  padding: 24px 20px;
   position: absolute;
  top:46px;
  left:16px;
  display: none;
  height: 120px;
  width: 250px;
  background: #fff;
  /* display: block; */
  box-shadow:  0px 3px 10px 0px rgba(0,0,0,0.30);
  border-radius: 5px;
}
.icon-container:hover .bell-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 250px;
}

.ads-container{
  display: none;
  flex-direction: column;
  gap: 3px;
  width: 460px;
  min-width:160px;
  height: 273px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.30) ;
}

#makedAds{
  position: absolute;
  bottom: 0;
}


.love-container{
  /* padding: 24px 20px; */
   position: absolute;
  top:62px;
  left:16px;
  display: none;
  height: 120px;
  width: 250px;

}
svg{
  cursor: pointer;
}
.bell-sub-title{
  font-size: 0.875rem;

line-height: 1.0625rem;
color: #363636;
}
.bell-title{
  font-size: 1rem;
padding-bottom: 15px;
line-height: 1.18rem;
color: #363636;
}
.icon-container:hover .love-container {
  display: block;
  height: 322px;
  background-color: #fff;
  width: fit-content;
  z-index: 5;
}


.hover-div {
  display: none;
}

.hover-div.active {
  display: block;
}




.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
@media (min-width: 880px) and (max-width: 985px) {
  .icon-container{
display: none;
  }}
.navBarIcon{
  height: 29px;
  position: absolute;
  right:66px;
  top: 7px;
  padding: 3px;
  display: block;
  margin: auto;
}
.orange-line{
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background: orangered;
}

.navBarIconForPersonal{
  /* height: 29px; */
  width: 29px;
  position: absolute;
  right:25px;
/* padding: 1px; */
  display: block;
  margin: auto;
}
.loveIcon
{
cursor: pointer;
  position: absolute;
  left:65px;
  top: 15px;
}
.messagesIcon{
  position: absolute;
  top: 15px;
  left:25px;
  cursor: pointer;
}
#navBarIconForPersonal{
  position: absolute;
  right: 67px;
  top: 7px;
  height: 32px;
  }
  .love-container-1{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.30);
    height: 131px;
    width: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 17px;
    text-align: center;
    position: relative;
    bottom: 27px;
  }
  app-mini-alert{
    position: absolute;
    top: 0;
    right:-5px;
  }
@media screen and (min-width: 880px)  {
.bell-container{
  top: 65px;
}
  .love-container-1{
    top: 2px;
  }
  .ads-container{
    display: flex;
  }
  #navBarIconForPersonal{
  display: none;
  }
  .header{
    height: 95px;
  }
  .logo{
    width: 74px;
    height: 36px;
  }
}
li{
  list-style-type: none;
}
.main-buttons{
  display: flex;
}
.sidenav
{
  position: inherit;
  right: inherit;
  top: inherit;

}

@media screen and (max-width: 880px) {
  .none{
    display: none;
  }

}


@media screen and (min-width: 880px) {
  .navBarIcon{
    display: none;

  }
.option-icon_icon__JGLUV{
  display: none;
}
}
.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 20px;
  cursor: pointer;
  color: #363636;
  position: absolute;
  right: 99px;
}
.bellIcon{
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="24" width="24" version="1.1" id="Capa_1" viewBox="0 0 611.999 611.999" xml:space="preserve"><g><g><g><path d="M570.107,500.254c-65.037-29.371-67.511-155.441-67.559-158.622v-84.578c0-81.402-49.742-151.399-120.427-181.203     C381.969,34,347.883,0,306.001,0c-41.883,0-75.968,34.002-76.121,75.849c-70.682,29.804-120.425,99.801-120.425,181.203v84.578     c-0.046,3.181-2.522,129.251-67.561,158.622c-7.409,3.347-11.481,11.412-9.768,19.36c1.711,7.949,8.74,13.626,16.871,13.626     h164.88c3.38,18.594,12.172,35.892,25.619,49.903c17.86,18.608,41.479,28.856,66.502,28.856     c25.025,0,48.644-10.248,66.502-28.856c13.449-14.012,22.241-31.311,25.619-49.903h164.88c8.131,0,15.159-5.676,16.872-13.626     C581.586,511.664,577.516,503.6,570.107,500.254z M484.434,439.859c6.837,20.728,16.518,41.544,30.246,58.866H97.32     c13.726-17.32,23.407-38.135,30.244-58.866H484.434z M306.001,34.515c18.945,0,34.963,12.73,39.975,30.082     c-12.912-2.678-26.282-4.09-39.975-4.09s-27.063,1.411-39.975,4.09C271.039,47.246,287.057,34.515,306.001,34.515z      M143.97,341.736v-84.685c0-89.343,72.686-162.029,162.031-162.029s162.031,72.686,162.031,162.029v84.826     c0.023,2.596,0.427,29.879,7.303,63.465H136.663C143.543,371.724,143.949,344.393,143.97,341.736z M306.001,577.485     c-26.341,0-49.33-18.992-56.709-44.246h113.416C355.329,558.493,332.344,577.485,306.001,577.485z"/><path d="M306.001,119.235c-74.25,0-134.657,60.405-134.657,134.654c0,9.531,7.727,17.258,17.258,17.258     c9.531,0,17.258-7.727,17.258-17.258c0-55.217,44.923-100.139,100.142-100.139c9.531,0,17.258-7.727,17.258-17.258     C323.259,126.96,315.532,119.235,306.001,119.235z"/></g> </g></g></svg>');
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 100px;
  top: 15px;
}
@media screen and (min-width: 880px) {
  .bellIcon{
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="24" width="24" version="1.1" id="Capa_1" viewBox="0 0 611.999 611.999" xml:space="preserve"><g><g><g><path d="M570.107,500.254c-65.037-29.371-67.511-155.441-67.559-158.622v-84.578c0-81.402-49.742-151.399-120.427-181.203     C381.969,34,347.883,0,306.001,0c-41.883,0-75.968,34.002-76.121,75.849c-70.682,29.804-120.425,99.801-120.425,181.203v84.578     c-0.046,3.181-2.522,129.251-67.561,158.622c-7.409,3.347-11.481,11.412-9.768,19.36c1.711,7.949,8.74,13.626,16.871,13.626     h164.88c3.38,18.594,12.172,35.892,25.619,49.903c17.86,18.608,41.479,28.856,66.502,28.856     c25.025,0,48.644-10.248,66.502-28.856c13.449-14.012,22.241-31.311,25.619-49.903h164.88c8.131,0,15.159-5.676,16.872-13.626     C581.586,511.664,577.516,503.6,570.107,500.254z M484.434,439.859c6.837,20.728,16.518,41.544,30.246,58.866H97.32     c13.726-17.32,23.407-38.135,30.244-58.866H484.434z M306.001,34.515c18.945,0,34.963,12.73,39.975,30.082     c-12.912-2.678-26.282-4.09-39.975-4.09s-27.063,1.411-39.975,4.09C271.039,47.246,287.057,34.515,306.001,34.515z      M143.97,341.736v-84.685c0-89.343,72.686-162.029,162.031-162.029s162.031,72.686,162.031,162.029v84.826     c0.023,2.596,0.427,29.879,7.303,63.465H136.663C143.543,371.724,143.949,344.393,143.97,341.736z M306.001,577.485     c-26.341,0-49.33-18.992-56.709-44.246h113.416C355.329,558.493,332.344,577.485,306.001,577.485z"/><path d="M306.001,119.235c-74.25,0-134.657,60.405-134.657,134.654c0,9.531,7.727,17.258,17.258,17.258     c9.531,0,17.258-7.727,17.258-17.258c0-55.217,44.923-100.139,100.142-100.139c9.531,0,17.258-7.727,17.258-17.258     C323.259,126.96,315.532,119.235,306.001,119.235z"/></g> </g></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 100px;
    top: 35px;
  }
  .loveIcon{
    top: 35px;
    cursor: pointer;
  }
  .messagesIcon{
    top: 35px;
  }
}
/* .custom-love-container{
  height: 100px;
  width: 100px;
} */
.custom-love-container{
  padding: 24px 20px;
   position: absolute;
  /* top:-15px; */
  left:16px;
  /* display: none; */
  height: 120px;
  width: 250px;
  background: #fff;
  /* display: block; */
  box-shadow:  0px 3px 10px 0px rgba(0,0,0,0.30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.love-sub-title{
  font-size: 0.875rem;

line-height: 1.0625rem;
color: #363636;
}
.love-title{
  font-size: 1rem;
padding-bottom: 15px;
line-height: 1.18rem;
color: #363636;
}
