<nav  class="subheader">
  <div class="left-side-btns">
  <app-btn
    [containerClass]="'doronContainer'"
    [text]="'דורון-העוזר האישי'"
    [iconClass]="'doron'"
  ></app-btn>

  <app-btn
    [containerClass]="'yad1Container'"
    [text]="'יד1 דירות חדשות'"
    [iconClass]="'yad1'"
  ></app-btn>
  <app-btn
    [containerClass]="'estimationContainer'"
    [text]="'הערכת שווי נכס'"
    [iconClass]="'estimation'"
  ></app-btn>
  <app-btn
    [containerClass]="'hammerContainer'"
    [text]="'כונס נכסים'"
    [iconClass]="'hammer'"
  ></app-btn>

</div>



  <ul class="y2_toggle_tabs">
    <li class="active">
      <a
        href="/realestate/forsale"

        ><span>מכירה</span></a
      >
    </li>
    <li class="">
      <a href="/realestate/rent" ><span>השכרה</span></a>
    </li>
    <li class="">
      <a href="/realestate/roommates"
        ><span>דירות שותפים</span></a
      >
    </li>
    <li class="">
      <a href="/realestate/commercial"
        ><span>נדל"ן מסחרי</span></a
      >
    </li>
  </ul>
</nav>
