


<div class="container">
<div *ngIf="this.comment==''&&!isOpen||this.comment==null&&!isOpen" class="comment-main">
  <app-btn (click)="isOpen=true"  [containerClass]="'first-comment-icon-container'" [iconClass]="'first-comment-icon'" [text]="'הוספת הערה'">  </app-btn>
</div>
<div (click)="isOpen=true" *ngIf="this.comment!=''&&this.comment!=null&&!isOpen" class="comment-main">
  <app-btn   [containerClass]="'second-comment-icon-container'" [iconClass]="'second-comment-icon'" [text]="this.comment">  </app-btn>
</div>

<div *ngIf="isOpen" class="comment-open-main">
  <div class="comment-header">
    <ul class="container-btn">
      <li  class="btn-gray" *ngFor="let item of items" (click)="addWords(item)">{{ item }}</li>
    </ul>
  </div>
  <textarea   [(ngModel)]="comment" class="text-area" placeholder="כתיבת הערה..." maxlength="200"></textarea>

  <div class="comment-footer">
 <app-btn (click)="this.isOpen=false;" [containerClass]="'comment-cancel-container'" [text]="'ביטול'">  </app-btn>
  <app-btn  (click)="saveComment();this.isOpen=false;" [containerClass]="'comment-save-container'" [text]="'שמירה'">  </app-btn>
  </div>
</div>

<div class="close-comment"></div>
</div>
