<div *ngIf="isUserLogged" class="circle" [ngClass]="{'custom-circle': isPopUpNeeded}">{{"ZC"}}</div>

<div *ngIf="isPopUpNeeded && isUserLogged" class="user-container">
  <div class="icon-container">
    <div *ngFor="let item of sidebarItems">
      <app-side-bar-item (click)="disconnectUser(item)" [item]="item.title"></app-side-bar-item>
    </div>
  </div>
</div>

<div *ngIf="isPopUpNeeded && !isUserLogged" class="dis-circle"></div>

<div *ngIf="isPopUpNeeded && !isUserLogged" class="user-container2">
  <div class="icon-container">
    <div *ngFor="let item of sidebarItems">
      <app-side-bar-item (click)="disconnectUser(item)" [item]="item.title"></app-side-bar-item>
    </div>
  </div>
</div>
