*{
  box-sizing: border-box;
}


@media screen and (min-width: 880px) {
 app-generic-form{
    position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  }


.container-form{
background: #fff8ef;
display: inline-block;
height: 99vh;
width: 100vw;
}

}
app-login-info{
  position: absolute;

  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.main-logo{
  width:72px ;
  height: 36px;
  background: url('../../../../assets/logo-orange.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  right: 27px;
}
